// Color black and variations
$color-black-primary: #000000;
$color-black-second: #353334;

// Color blue and variations
$color-blue-primary: #31ACA4;

// Color gray and variations
$color-gray-primary: #868686;
$color-gray-second: #D8D8D8;

// Color green and variations
$color-green-primary: #86BF5A;
$color-green-second: #43904D;
$color-green-third: #4C904F;

// Color white and variations
$color-white-primary: #ffffff;