.section4 {
    position: relative;

    @media (min-width: 992px) {
        min-height: 825px;
    }
    
    &__background {
        background-image: url('/img/sunrise-over-planet-earth-in-space-3d-rendering-1.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 425px;        
        position: relative;
        width: 100%;

        @media (min-width: 992px) {
            height: 450px;   
            position: absolute;
            top: -65px;
        }
    }

    &__text {
        color: $color-white-primary;
        font-size: 28px;
        font-weight: 400;
        line-height: 34px;
        padding-top: 65px;
        text-align: center;

        @media (max-width: 767.98px) {
            padding: 50px 10px 0;
        }
    }

    &__img-art-left {
        bottom: -60px;
        left: 0;
        position: absolute;

        @media (max-width: 991.98px) {
            display: none;
        }
    }

    &__content {
        align-items: center;
        display: block;
        margin: 0 auto;
        max-width: 1000px;
        position: relative;
        width: 100%;

        @media (min-width: 992px) {
            display: flex;
            left: 50%;
            position: absolute;
            top: 250px;
            transform: translateX(-50%);
        }

        @media (min-width: 992px) and (max-width: 1199.98px) {
            max-width: 900px;
        }
    }

    &__img-face {
        display: block;

        @media (max-width: 991.98px) {
            display: none;
            margin: 0 auto;
            max-width: 300px;
            position: relative;
            width: auto;
        }

        @media (min-width: 768px) and (max-width: 991.98px) {
            max-width: 100%;
        }

        &.mobile {
            display: block;
            margin: 0 auto;
            max-width: 85%;
            top: -55px;

            @media (min-width: 992px) {
                display: none;
                top: 0;
            }
        }
    }

    &__img-right-triangle {
        left: 375px;
        position: absolute;

        @media (max-width: 991.98px) {
            display: none;
        }
    }

    &__text2 {
        position: relative;

        @media (max-width: 991.98px) {
            padding: 0 20px;
        }

        @media (min-width: 992px) {
            left: 35px;            
            top: 40px;
        }

        @media (min-width: 1200px) {
            min-width: 485px;
        }
    }

    &__text2-p {
        font-size: 28px;
        line-height: 34px;
        margin: 20px 0;

        &:first-of-type {
            @media (max-width: 991.98px) {
                margin: -25px 0 25px;
            }
        }

        @media (max-width: 991.98px) {
            margin: 25px 0;
            text-align: center;
        }
    }

    &__highlight {
        color: $color-blue-primary;        
    }
}