.section2 {
    position: relative;

    &__img-left {
        left: 0;
        position: absolute;
        top: 0;
    }

    &__content {
        align-items: center;
        display: flex;
        margin: 0 auto;
        max-width: 1000px;
        position: relative;

        @media (max-width: 991.98px) {
            display: block;
            max-width: inherit;
        }
    }

    &__img-center {
        display: none;
        margin-top: 30px;
        position: relative;
        z-index: 1;

        @media (min-width: 992px) {
            display: block;
        }

        &.mobile {
            display: block;
            margin: 50px auto 60px;
            max-width: 85%;

            @media (min-width: 992px) {
                display: none;
            }
        }
    }

    &__img-right-triangle {
        left: 425px;
        position: absolute;
        top: 170px;
        z-index: 2;

        @media (max-width: 991.98px) {
            display: none;
        }
    }

    &__img-group {
        bottom: -70px;
        left: 370px;
        position: absolute;
        z-index: 0;

        @media (max-width: 991.98px) {
            display: none;
        }
    }

    &__text {
        font-size: 26px;
        font-weight: 400;
        line-height: 36px;
        padding: 0 20px;

        @media (max-width: 991.98px) {
            text-align: center;
        }

        @media (min-width: 992px) {
            font-size: 30px;
            padding: 0;
            margin-left: 50px;
            max-width: 365px;
        }
    }

    &__highlight {
        color: $color-blue-primary;
    }

    &__img-right {
        bottom: -100px;
        position: absolute;
        right: 0;
        z-index: 0;

        @media (max-width: 767.98px) {
            bottom: 260px;
            max-width: 170px;
        }

        @media (min-width: 768px) and (max-width: 991.98px) {
            bottom: 145px;
        }
    }
}